<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PUBLIC_API_KEY</key>
	<string>14555c551bd677c5aa887abcdfbe68b6</string>
	<key>PRIVATE_API_KEY</key>
	<string>31b59cce5304fb3b1c81686dcfcf15bdf48b4841</string>
</dict>
</plist>
