<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>http://gateway.marvel.com:80</string>
	<key>GET_COMICS</key>
	<string>/v1/public/comics</string>
	<key>GET_CHARACTERS</key>
	<string>/v1/public/characters</string>
	<key>GET_EVENTS</key>
	<string>/v1/public/events</string>
	<key>GET_STORIES</key>
	<string>/v1/public/stories</string>
	<key>GET_SERIES</key>
	<string>/v1/public/series</string>
</dict>
</plist>
